.PostShare {
    display: flex;
    gap: 1rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
}

.PostShare > img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.PostShare > div {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
}

.PostShare > div > input {
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
}

.ps-button {
    padding: 5px 20px;
    font-size: 12px;
    width: 7rem;
    height: 2rem;
    margin-left: auto;
}